.shadow{
	-webkit-box-shadow:1px 1px 5px 1px black;
	box-shadow:1px 1px 5px 1px black;
	cursor:pointer;
	display: block;
	margin:0 auto;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:hover{
            -webkit-box-shadow:2px 4px 15px 1px black !important;
            box-shadow:2px 4px 15px 1px black !important;
    }
}
.up {
    &:hover{
        -webkit-transform: perspective(1000px) scale(1.03);
        transform: perspective(1000px) scale(1.03);
        -webkit-transform:translate(0,-5px);
        -ms-transform:translate(0,-5px);
        transform:translate(0,-5px);
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}



/////////////////////////////////// PRODUCTS //////////////////////////


.card-title,.card-text {
    color:$white
}

.card {
    border:none;
    .btn {
        padding: 0px 28px;
        border-bottom: 92px;
        &.right{
            border-bottom-right-radius: 22px;
        }
        &.left {
            border-bottom-left-radius: 22px;

        }
    }


    .card-body-inner {
    flex-direction:column
    }
}
.product {
    .card-body{
    position:absolute;
    top:0;
    flex-wrap: wrap;    
    bottom: 0;
    left: 0;
    right: 0;
    }
}
/////////////////////////////////// MODALS //////////////////////////

.product-modal {
    position: fixed;
    right: 0;
    width: 25vw;
    background: white;
    height: 100%;
    top: 0;
    -webkit-box-shadow: 1px 1px 5px 1px black;
    box-shadow: 1px 1px 5px 1px black;
    z-index:99999;
    min-width:300px;
    @include media-breakpoint-down(sm) { 
     width: 25vw;
     }
}


.skew-container{
  overflow: hidden;
  .skew-decorator{
    height: 40px;
    width: 100%;
    transform: skew(96deg);
  }
}

h3.title{
  position:relative;
  &:before{
    height: 2px;
    width: 97px;
    content: '';
    position: absolute;
    background:$primary;
    bottom:18px;
    left: 50%;
    transform: translate(-50%);
    opacity:0.7;
  }
}



/////////////////////////////////// TREE VIEW //////////////////////////

.tree-view-wrapper{
    border-radius: 15px;
    .tree-view-child{
        .tree-wrapper{
        background: lighten($primary, 23) !important;
        }
    }

    .tree-view-root{
        .tree-wrapper{
        background: darken($primary, 1);
      }
    }

    .tree-wrapper.active{
        border-left:5px solid darken($primary, 15) ;
        transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1)
    }
}

// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }


/////////////////////////////////// CUSTOM //////////////////////////

.btn{
    padding: 8px 30px;
}

.text-shadow{
  text-shadow:1px 1px 6px rgba(0,0,0,0.32)
}

 @include media-breakpoint-down(sm) { 
   .nav-link,.navbar-nav{
     text-align:center;
   }
 }


/////////////////////////////////// SPINNER //////////////////////////

.loader-wrapper{

    background: rgba(0,0,0,1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader{
        color:$white
    }
}


.breeding-rhombus-spinner {
    height: 65px;
    width: 65px;
    position: relative;
    transform: rotate(45deg);
  }

  .breeding-rhombus-spinner, .breeding-rhombus-spinner * {
    box-sizing: border-box;
  }

  .breeding-rhombus-spinner .rhombus {
    height: calc(65px / 7.5);
    width: calc(65px / 7.5);
    animation-duration: 2000ms;
    top: calc(65px / 2.3077);
    left: calc(65px / 2.3077);
    background-color: #ff1d5e;
    position: absolute;
    animation-iteration-count: infinite;
  }

  .breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
     margin-right: 0;
   }

  .breeding-rhombus-spinner .rhombus.child-1 {
    animation-name: breeding-rhombus-spinner-animation-child-1;
    animation-delay: calc(100ms * 1);
  }

  .breeding-rhombus-spinner .rhombus.child-2 {
    animation-name: breeding-rhombus-spinner-animation-child-2;
    animation-delay: calc(100ms * 2);
  }

  .breeding-rhombus-spinner .rhombus.child-3 {
    animation-name: breeding-rhombus-spinner-animation-child-3;
    animation-delay: calc(100ms * 3);
  }

  .breeding-rhombus-spinner .rhombus.child-4 {
    animation-name: breeding-rhombus-spinner-animation-child-4;
    animation-delay: calc(100ms * 4);
  }

  .breeding-rhombus-spinner .rhombus.child-5 {
    animation-name: breeding-rhombus-spinner-animation-child-5;
    animation-delay: calc(100ms * 5);
  }

  .breeding-rhombus-spinner .rhombus.child-6 {
    animation-name: breeding-rhombus-spinner-animation-child-6;
    animation-delay: calc(100ms * 6);
  }

  .breeding-rhombus-spinner .rhombus.child-7 {
    animation-name: breeding-rhombus-spinner-animation-child-7;
    animation-delay: calc(100ms * 7);
  }

  .breeding-rhombus-spinner .rhombus.child-8 {
    animation-name: breeding-rhombus-spinner-animation-child-8;
    animation-delay: calc(100ms * 8);
  }

  .breeding-rhombus-spinner .rhombus.big {
    height: calc(65px / 3);
    width: calc(65px / 3);
    animation-duration: 2000ms;
    top: calc(65px / 3);
    left: calc(65px / 3);
    background-color: #ff1d5e;
    animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
    animation-delay: 0.5s;
  }


  @keyframes breeding-rhombus-spinner-animation-child-1 {
    50% {
      transform: translate(-325%, -325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-2 {
    50% {
      transform: translate(0, -325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-3 {
    50% {
      transform: translate(325%, -325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-4 {
    50% {
      transform: translate(325%, 0);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-5 {
    50% {
      transform: translate(325%, 325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-6 {
    50% {
      transform: translate(0, 325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-7 {
    50% {
      transform: translate(-325%, 325%);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-8 {
    50% {
      transform: translate(-325%, 0);
    }
  }

  @keyframes breeding-rhombus-spinner-animation-child-big {
    50% {
      transform: scale(0.5);
    }
  }


.swiper-container{
    .slide {
        a{
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            top:0; //make featured clickable for modal
        }
    }
}

